<div class="container my-4">
  <h1 class="text-center mb-4  d-none d-md-block">My Summary Prompts</h1>

  <div class="row d-flex">
    <div class="col-12 col-md-4" sstyle ="position: sticky; top: 20px; z-index: 10; align-self: flex-start;">
      <div class="card mb-4">
        <div class="card-body bg-white">
          <h5 class="card-title" >Add a New Custom Summary Prompt</h5>
          <%= render "form", summary_prompt: SummaryPrompt.new %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <div class="row g-3">
        <% if @summary_prompts.any? %>
          <% @summary_prompts.each do |summary_prompt| %>
            <div class="col-12">
              <div class="card mb-3 p-3 shadow-sm bg-white" data-controller="toggle-form">
                <div class="position-relative" data-toggle-form-target="display">
                  <div class="position-absolute top-0 end-0 m-2 d-flex gap-2 z-3">
                    <%= render 'shared/buttons/button_edit_toggle' %>
                    <%= render partial: 'shared/buttons/button_delete', locals: { path: summary_prompt_path(summary_prompt), confirm: 'Delete this custom prompt?' } %>
                  </div>

                  <h3><%= summary_prompt.name %></h3>
                  <p><%= summary_prompt.content %></p>
                </div>

                <div class="d-none" data-toggle-form-target="form">
                  <%= simple_form_for(summary_prompt,
                      url: summary_prompt_path(summary_prompt),
                      method: :patch,
                      html: { class: "d-flex flex-column gap-3" }) do |f| %>

                    <%= f.input :name,
                                as: :string,
                                label: "Prompt name",
                                input_html: { placeholder: "E.g. Concise summary" } %>

                    <%= f.input :content,
                                as: :text,
                                label: "Prompt content",
                                input_html: { rows: 4, placeholder: "Summarize focusing on..." } %>

                    <div class="d-flex gap-2">
                      <%= f.button :submit, "Save", class: "btn btn-primary flex-grow-1" %>
                      <button type="button"
                              class="btn btn-outline-secondary"
                              data-action="click->toggle-form#toggle">
                        Cancel
                      </button>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>No summary prompt yet</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
