<h2 class="text-center m-4">Edit account</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card p-4 shadow-sm">
        <%= simple_form_for(resource,
            as: resource_name,
            url: registration_path(resource_name),
            html: { method: :put }
          ) do |f| %>

          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :password,
                        hint: "leave it blank if you don't want to change it",
                        required: false,
                        input_html: { autocomplete: "new-password" } %>

            <%= f.input :password_confirmation,
                        required: false,
                        input_html: { autocomplete: "new-password" } %>

            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="text-center mt-3">
            <%= f.button :submit, "Update", class: "btn btn-primary btn-lg w-100" %>
          </div>

        <% end %>
      </div>

      <div class="card mt-3 p-3 text-center">
        <h5>Delete my account</h5>
        <p class="mb-3">Unhappy? You can delete your account below.</p>
        <%= button_to "Cancel my account",
                      registration_path(resource_name),
                      method: :delete,
                      class: "btn btn-danger w-100",
                      data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" } %>
      </div>

      <div class="text-center mt-3">
        <%= link_to "Back", :back %>
      </div>

    </div>
  </div>
</div>
