  <h1 class="mb-2"><%= article.headline %></h1>

  <% if article.subheadline.present? %>
    <p class="lead text-muted mb-3"><%= article.subheadline %></p>
  <% end %>

  <div class="d-flex align-items-center gap-2 flex-wrap mb-3">
    <% if article.link.present? %>
      <%
        host = URI.parse(article.link).host rescue "Source"
        domain = host
      %>
      <%= link_to domain,
            article.link,
            target: "_blank",
            rel: "noopener",
            class: "btn btn-secondary" %>
    <% end %>

    <% if article.tags.present? %>
      <% article.tags.split(',').each do |tag| %>
        <%= link_to tag.strip, tag_path(tag.strip), class: "badge bg-light text-dark border text-decoration-none" %>
      <% end %>
    <% end %>

    <% if article.curations.any? %>
      <% article.curations.each do |curation| %>
        <span class="badge bg-secondary text-dark border">
      <%=link_to curation.title, curation_path(curation), class: "text-decoration-none text-dark"%>
      </span>
      <% end %>
    <% end %>

    <div class="dropdown mb-3">
      <button class = "btn btn-outline-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      Add to Curation
      </button>
      <ul class="dropdown-menu p-3" overflow-y: auto;>
        <%= render "articles/curation_dropdown", article: article%>
      </ul>
    </div>
  </div>

  <% if article.image_link.present? %>
    <div class="mb-3" style="aspect-ratio: 2/1; overflow: hidden;">
      <%= image_tag article.image_link, class: "w-100 h-100 object-fit-cover rounded" %>
    </div>
  <% end %>

  <% if article.summary.present? %>
    <%= render "articles/summary", article: article %>
  <% end %>
