  <h1 class="mb-2 fw-bold"><%= article.headline %></h1>

  <% if article.subheadline.present? %>
    <p class="lead text-muted mb-3"><%= article.subheadline %></p>
  <% end %>

  <div class="d-flex align-items-center gap-2 flex-wrap mb-3">
    <% if article.link.present? %>
      <%
        host = URI.parse(article.link).host rescue "Source"
        domain = host
      %>
      <%= link_to domain,
            article.link,
            target: "_blank",
            rel: "noopener",
            class: "source-pill" %>
    <% end %>

    <% if article.curations.any? %>
      <% article.curations.each do |curation| %>
        <span class="curation-pill p-2">
          <%= link_to curation.title, curation_path(curation) %>
        </span>
      <% end %>
    <% end %>

    <div class="dropdown" data-offline-hide>
      <button class = "btn btn-warning dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      Add to Curation
      </button>
      <ul class="dropdown-menu p-3" overflow-y: auto;>
        <%= render "articles/curation_dropdown", article: article%>
      </ul>
    </div>
  </div>

  <% if article.image_link.present? %>
    <div class="mb-3" style="aspect-ratio: 2/1; overflow: hidden;">
      <%= image_tag article.image_link, class: "w-100 h-100 object-fit-cover rounded" %>
    </div>
  <% end %>

  <% if article.summary.present? %>
    <%= render "articles/summary", article: article %>
  <% end %>

  <%= yield %>

  <%= render "articles/tags", article: article %>
