<%= simple_form_for(article, html: { class: "row g-3" }) do |f| %>

    <%= f.input :link,
                as: :url,
                label: "Article Link",
                input_html: { placeholder: "https://example.com/article" } %>

    <%= f.input :tags,
                label: "Tags (comma-separated)",
                input_html: { placeholder: "news, politics, tech" } %>

    <%= f.input :curation_id,
                collection: current_user.curations,
                label_method: :title,
                value_method: :id,
                include_blank: "None",
                label: "Curation (optional)" %>

    <%= f.input :summary_prompt_id,
                collection: current_user.summary_prompts,
                label_method: :name,
                value_method: :id,
                include_blank: "None",
                label: "Summary Prompt (optional)" %>

  <div class="col-12 d-flex">
    <%= f.button :submit, "Add Article", class: "btn btn-primary" %>
  </div>
<% end %>
