<div class="container my-4">
  <%= link_to "â† Back to Articles", articles_path, class: "btn btn-secondary mb-3" %>
  <span data-offline-hide>
    <%= link_to "See ChatBot conversation", conversation_path(@article.conversations.first), class: "btn btn-primary mb-3" %>
  </span>

  <%= render layout: "articles/article_head", locals: { article: @article } do %>

    <div class="card">
      <div class="card-body bg-white">
        <h5 class="card-title">Full Article</h5>
        <%= render "articles/speech_reader", article: @article %>
        <%= simple_format(@article.body) %>
      </div>
    </div>

  <% end %>

</div>
