<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mt-4 mb-3" data-offline-hide>
    <div>
      <%= render 'shared/buttons/button_favourite', article: @article %>
    </div>
    <div class="d-flex gap-2">
      <%= render 'shared/buttons/button_archive', article: @article %>
      <%= render partial: 'shared/buttons/button_delete', locals: { path: article_path(@article), confirm: 'Delete this article?' } %>
    </div>
  </div>

  <%= render layout: "articles/article_head", locals: { article: @article } do %>

    <!-- Speech Reader Toggle Wrapper -->
    <div data-controller="toggle-form">

      <div data-toggle-form-target="form" class="d-none">
        <%= render "articles/speech_reader", article: @article %>
      </div>

      <div class="card">
        <div class="card-body bg-white">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0">Full Article</h5>
            <%= render 'shared/buttons/button_audio' %>
          </div>
          <%= simple_format(@article.body) %>
        </div>
      </div>

    </div>

  <% end %>

</div>
