<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mt-4 mb-3" data-offline-hide>
    <div>
      <%= render 'shared/buttons/button_favourite', article: @conversation.article %>
    </div>
    <div class="d-flex gap-2">
      <%= render 'shared/buttons/button_archive', article: @conversation.article %>
      <%= render partial: 'shared/buttons/button_delete', locals: { path: article_path(@conversation.article), confirm: 'Delete this article?' } %>
    </div>
  </div>

  <%= render layout: "articles/article_head", locals: { article: @conversation.article } do %>

    <div class="card mb-4">
      <div class="card-body bg-white">
        <div id="messages" data-controller="scroll">
          <h5 class="card-title">StoryPile Assistant</h5>
          <%= render "messages/messages", messages: @conversation.messages %>
        </div>

        <div id="new_message_container">
          <%= render "messages/form", conversation: @conversation, message: @message %>
        </div>
      </div>
    </div>

  <% end %>
</div>
