<div class="container my-4">
  <div class="mt-4">
    <%= link_to "â† Back to Articles", articles_path, class: "btn btn-secondary mb-3" %>
    <%= link_to "See full article", article_path(@conversation.article), class: "btn btn-primary mb-3" %>
  </div>

  <%= render "articles/article_head", article: @conversation.article %>

  <div id="messages">
      <%= render "messages/messages", messages: @conversation.messages %>
  </div>

  <div id="new_message_container">
    <%= render "messages/form", conversation: @conversation, message: @message %>
  </div>
</div>
