<div class="container my-4">
  <%= link_to "â† See full article", article_path(@conversation.article) %>

  <h1 id="conversation_title"><%= @conversation.title %></h1>

  <% if @conversation.article.summary.present? %>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">AI Summary</h5>
          <p class="card-text"><%= simple_format(@conversation.article.summary) %></p>
        </div>
      </div>
    <% end %>

  <div id="messages">
    <% @conversation.messages.each do |message| %>
      <% if message.role == "user" %>
        <div class="d-flex justify-content-end mb-2">
          <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
            <%= simple_format(message.content) %>
          </div>
        </div>
      <% elsif message.role == "assistant" %>
        <div class="bg-danger d-flex justify-content-start mb-5 rounded-pill">
          <div class="px-3 pb-0 pt-3">
            <%= simple_format(message.content) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="new_message_container">
    <%= simple_form_for [@conversation, @message] do |f| %>
      <%= f.input :content, label: "Ask a question about the article", required: true, placeholder: "What is the most important information in this article?" %>
      <%= f.button :submit, 'Ask StoryPile Assistant', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
