<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap"
        rel="stylesheet">
</head>

<% if controller_name == "pages" && action_name == "home" && !user_signed_in? %>

<nav class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "storypilelogo-edit.png", alt: "StoryPile Logo", class: "logo" %>
    <% end %>

    <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark ms-auto" %>

  </div>
</nav>

<% elsif ["sessions", "registrations"].include?(controller_name) && action_name == "new" && !user_signed_in? %>

<nav class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "storypilelogo-edit.png", alt: "StoryPile Logo", class: "logo" %>
    <% end %>

    <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark ms-auto" %>

  </div>
</nav>

<% else %>

<nav class="navbar navbar-light navbar-lewagon d-md-none">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "storypilelogo-edit.png", alt: "StoryPile Logo", class: "logo" %>
    <% end %>

    <div class="flex-grow-1 text-center">
      <div class="dropdown d-inline-block" data-controller="mobile-dropdown">
        <a href="#"
           class="nav-link dropdown-toggle text-dark fw-semibold text-center px-0"
           id="mobileNavDropdown"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          <span class="fw-semibold"><%= current_section_label %></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-center mobile-nav-dropdown" aria-labelledby="mobileNavDropdown">
          <li><%= link_to "My Articles", root_path, class: "dropdown-item" %></li>
          <li><%= link_to "My Summary Prompts", summary_prompts_path, class: "dropdown-item" %></li>
          <li><%= link_to "My Curations", curations_path, class: "dropdown-item" %></li>
          <li><%= link_to "Favourites", favourites_articles_path, class: "dropdown-item" %></li>
          <li><%= link_to "Archived", archived_articles_path, class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>

    <div class="dropdown" data-controller="mobile-dropdown">
      <% if user_signed_in? %>
        <a href="#"
           class="nav-link dropdown-toggle-no-caret text-dark"
           id="mobileAccountDropdown"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          <i class="fa-solid fa-bars fa-lg"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-end mobile-nav-dropdown" aria-labelledby="mobileAccountDropdown">
          <li><%= link_to "My Account", edit_user_registration_path, class: "dropdown-item" %></li>
          <li><%= link_to "Log out", destroy_user_session_path,
                          data: { turbo_method: :delete }, class: "dropdown-item" %></li>
        </ul>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>

  </div>
</nav>

<% end %>

<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon d-none d-md-flex">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "storypilelogo-edit.png", alt: "StoryPile Logo", class: "logo" %>
    <% end %>

    <h2 class="flex-grow-1 text-center m-0">
      <%= link_to "StoryPile", root_path %>
    </h2>

    <% if user_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle-no-caret"
              id="desktopMenuDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fa-solid fa-bars fa-lg"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="desktopMenuDropdown">
            <li><%= link_to "My Articles", root_path, class: "dropdown-item" %></li>
            <li><%= link_to "My Summary Prompts", summary_prompts_path, class: "dropdown-item" %></li>
            <li><%= link_to "My Curations", curations_path, class: "dropdown-item" %></li>
            <li><%= link_to "Favourites", favourites_articles_path, class: "dropdown-item" %></li>
            <li><%= link_to "Archived", archived_articles_path, class: "dropdown-item" %></li>
            <li><%= link_to "My Account", edit_user_registration_path, class: "dropdown-item" %></li>
            <li><%= link_to "Log out", destroy_user_session_path,
                            data: { turbo_method: :delete }, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>

  </div>
</nav>
