<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap"
        rel="stylesheet">
</head>

<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "storypilelogo-edit.png", alt: "StoryPile Logo", class: "logo" %>
    <% end %>

    <h2 class="flex-grow-1 text-center m-0">
      <%= link_to "StoryPile", root_path %>
    </h2>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="fa-solid fa-bars fa-lg"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item d-md-none">
            <%= link_to "My Articles", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item d-md-none">
            <%= link_to "My Summary Prompts", summary_prompts_path, class: "nav-link" %>
          </li>
          <li class="nav-item d-md-none">
            <%= link_to "My Curations", curations_path, class: "nav-link" %>
          </li>
          <li class="nav-item d-md-none">
            <%= link_to "Log out", destroy_user_session_path,
                        data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item d-md-none">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if user_signed_in? %>
      <ul class="navbar-nav d-none d-md-flex">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle-no-caret"
              id="desktopMenuDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fa-solid fa-bars fa-lg"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="desktopMenuDropdown">
            <li><%= link_to "My Articles", root_path, class: "dropdown-item" %></li>
            <li><%= link_to "My Summary Prompts", summary_prompts_path, class: "dropdown-item" %></li>
            <li><%= link_to "My Curations", curations_path, class: "dropdown-item" %></li>
            <li><%= link_to "Log out", destroy_user_session_path,
                            data: { turbo_method: :delete }, class: "dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav d-none d-md-flex">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>

  </div>
</nav>
