<%= form_with url: search_articles_path, method: :get, class: "row g-3" do |f| %>

  <div class="col-12">
    <%= f.text_field :query,
                     placeholder: "Search headlines, body, tags...",
                     value: params[:query],
                     class: "form-control" %>
  </div>

  <div class="collapse row" id="searchOptions">
    <div class="col-6">
      <%= f.label :archived %>
      <%= f.select :archived,
                   options_for_select([["Any", ""], ["Yes", "true"], ["No", "false"]], params[:archived]),
                   {},
                   class: "form-select" %>
    </div>

    <div class="col-6">
      <%= f.label :favourited %>
      <%= f.select :favourited,
                   options_for_select([["Any", ""], ["Yes", "true"], ["No", "false"]], params[:favourited]),
                   {},
                   class: "form-select" %>
    </div>

    <div class="col-12">
      <%= f.label :curation_id, "In curation" %>
      <%= f.collection_select :curation_id,
                              current_user.curations,
                              :id,
                              :title,
                              { include_blank: "Any", selected: params[:curation_id] },
                              { class: "form-select" } %>
    </div>

    <div class="col-6">
      <%= f.label :created_after, "Created after" %>
      <%= f.date_field :created_after, value: params[:created_after], class: "form-control" %>
    </div>

    <div class="col-6">
      <%= f.label :created_before, "Created before" %>
      <%= f.date_field :created_before, value: params[:created_before], class: "form-control" %>
    </div>
  </div>

  <div class="col-12">
    <button type="button"
            class="btn btn-outline-primary"
            data-bs-toggle="collapse"
            data-bs-target="#searchOptions"
            aria-expanded="false"
            aria-controls="searchOptions">
      Advanced search
    </button>
  </div>

  <div class="col-12 d-flex gap-2">
    <%= f.submit "Search", class: "btn btn-primary" %>
    <%= link_to "Clear", search_articles_path, class: "btn btn-secondary" %>
  </div>
<% end %>
