<li><%= link_to "My Articles", root_path, class: "dropdown-item" %></li>
<li><%= link_to "My Summary Prompts", summary_prompts_path, class: "dropdown-item" %></li>
<li><%= link_to "My Curations", curations_path, class: "dropdown-item" %></li>
<li><%= link_to "Favourites", favourites_articles_path, class: "dropdown-item" %></li>
<li><%= link_to "Archived", archived_articles_path, class: "dropdown-item" %></li>
